/* Header menu-bar animation */
@keyframes top{
  0%{top:0; transform: rotate(0);}
  50%{top:10px; transform: rotate(0);}
  100%{top:10px; transform: rotate(40deg);}
}
@keyframes scaled{
  0%{transform: scale(0);}
  100%{transform: scale(0);}
}
@keyframes bottom{
  0%{bottom:0; transform: rotate(0);}
  50%{bottom:10px; transform: rotate(0);}
  100%{bottom:5px; transform: rotate(140deg);}
}

@keyframes top-back{
  0%{top:10px; transform: rotate(40deg);}
  50%{top:10px; transform: rotate(0);}
  100%{top:0; transform: rotate(0);}
}
@keyframes scaled-back{
  0%{transform: scale(0);}
  50%{transform: scale(0);}
  100%{transform: scale(1);}
}
@keyframes bottom-back{
  0%{bottom:5px; transform: rotate(140deg);}
  50%{bottom:10px; transform: rotate(0);}
  100%{bottom:0; transform: rotate(0);}
}