/* Reset Style Code */
* {margin: 0;padding: 0;box-sizing: border-box;}
html {width: 100%;height: 99.9%;overflow: hidden;}
html#detail_html{overflow: auto;}
a {text-decoration: none;color: #333;}
ol,
ul {list-style: none;}
img {display: block;}
input,
button,
textarea {outline: 0;border: 0;font-family: "Roboto", "Noto Sans KR", sans-serif;font-size: 14px;border-radius: 0;background: transparent;}
input::placeholder {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 12px;
}

/* Main Layout Code */
body {font-family: "Roboto", "Noto Sans KR", sans-serif;font-size: 14px;width: 100%;height: 100%; overflow: hidden;}
body#detail_page{height: auto;overflow:auto;}
.clearfix:after {content: "";display: block;clear: both;}
.center {width: 90%;height: auto;margin: auto;}
.wrap {width: 100%;height: 100%;overflow-x: hidden;overflow-y: hidden;position: relative;}

body#detail_page .wrap{overflow-y:auto;height:auto;;}

/* Background Image Style Code */
.bg{position: absolute;left:0;bottom:0;transform: scale(1.1) translateY(70px);width:100%;}
/* transform의 속성값을 중복해서 사용할 때는 값을 콤마 없이 공백으로 나열 */

/* Header Style Code */
header{background:#547c61; padding:15px 0; z-index:999;position: relative;z-index:1000;}
header.sticky{position:fixed; width:100%;}

header .menu{position:absolute;top:100%;display:flex;flex-direction:column;background:#547c61;z-index:1000;right:5%;display:none;}
header .menu a{width:50px;height:50px;display:flex;align-items: center;justify-content: center;border-top:1px solid #ccc;}

header a{font-size:18px; color:#fff;}
header .center{display: flex;justify-content: space-between;align-items: center;}

.btn{width:50px;cursor:pointer;}
span.bar_line{display: block; width:60%; box-shadow: 0 2px 10px 0 rgba(0,0,0,0.3);height:2px;background:#fff; transition: all 0.3s; position:relative; margin:auto; border-radius: 2px;}
span.bar_line:nth-child(2){margin:5px auto;}

.btn.active span.bar_line:nth-child(1){animation:ease 0.5s top forwards;}
.btn.active span.bar_line:nth-child(2){animation:ease 0.5s scaled forwards;}
.btn.active span.bar_line:nth-child(3){animation:ease 0.5s bottom forwards;}

.btn.not-active span.bar_line:nth-child(1){animation:ease 0.5s top-back forwards;}
.btn.not-active span.bar_line:nth-child(2){animation:ease 0.5s scaled-back forwards;}
.btn.not-active span.bar_line:nth-child(3){animation:ease 0.5s bottom-back forwards;}

/* Contents Bar Style Code */
.contents_bar{padding:70px 0;}
.contents_bar .center{display:flex; justify-content: center;flex-direction: column;}
.contents_bar .search_bar{display:flex; width:100%; justify-content: center; border:1px solid #547c61; border-radius: 20px; background:#fff; align-items: center;position:relative;z-index:999;}
.contents_bar .search_bar input{height: 30px; padding:20px; width:80%;}
.contents_bar .search_bar button{position: relative;width:20%; display:flex; justify-content: center;align-items: center;}
.contents_bar .search_bar button::after{content:'';position:absolute;width:1px; background:#547c61;left:0;height: 100%;top:0;}
.contents_bar .search_bar button img{width:15px;}

.contents_bar .drop_bar{width:100%; margin-top:10px;position: relative;z-index:999;}
.contents_bar .drop_bar .dropdown{width:100%; background: #547c61; position:relative; font-size:14px; color:#fff; text-align: center; border-radius: 20px;_transition:all 0.3s;}
.contents_bar .drop_bar .dropdown.on{border-radius:20px 20px 0 0 ;}
.contents_bar .drop_bar .select{cursor:pointer;display:block;padding:15px 20px 15px 0;}
.contents_bar .drop_bar .select span{display:inline-block; transform:translateX(10px);font-size:12px;}
.contents_bar .drop_bar .select i{font-size:13px; cursor:pointer;float:right;}

.contents_bar .dropdown_menu{position:absolute; width:100%; left:0; border:1px solid #547c61; background:#547c61; display:none;}
.contents_bar .dropdown_menu li{padding:10px; cursor:pointer; transition:all 0.3s; border:1px solid #547c61;border-top:1px solid #ccc;}
.contents_bar .dropdown_menu li a{width:100%; color:#fff; font-size:12px;}

/* Landing Animation Style Code */
#landing{position:fixed;width:100%;height:100%;background:#547c61;z-index:1000;top:0;left:0;display:flex;align-items:center;justify-content:center;flex-direction: column;}
#landing.start{animation:start 0.5s 1; animation-fill-mode:forwards;animation-delay:3s;}
#landing .landing_logo{background:#fff;width:150px;height:150px;display:flex;align-items:center;justify-content:center;border-radius:50%;animation:scale-up 1s 1;}
#landing .landing_logo img{width:60%;}
#landing h2{color:#fff; font-weight:400;font-size:16px;margin:10px 0;animation:show-up 1s 1;transform:translateY(200px);opacity:0;animation-fill-mode:forwards;animation-delay: 1s;}
#landing.started{top:-100%;}

@keyframes start{
  0%{top:0;}
  100%{top:-100%;}
}

@keyframes scale-up{
0%{transform:scale(0);opacity:0}
45%{transform:scale(1.3);}
70%{transform:scale(0.7);}
100%{transform:scale(1);opacity:1}
}

@keyframes show-up{
0%{transform:translateY(200px);opacity:0}
45%{transform:translateY(-15px);}
70%{transform:translateY(15px);}
100%{transform:translateY(0);opacity:1}
}

/* Search Position Pages Style Code */
.contents_bar.search_position{padding:30px 0;}
.map_img{position: absolute; width:100%;height:100%;left:0;top:0;z-index:998;}
.map_img img{width:100%;}

/* Bottom Box Style Code */
.bt_box{width:100%; height: 330px; background:#fff; position:absolute;bottom:0;z-index:999;border-radius:15px 15px 0 0;overflow:hidden;}
.bt_box span{width:100%;color:#fff;background: #547c61;display:flex;padding:10px; font-size:18px; justify-content: center;}

/* Owl Carousel Box Style Code */
.carousel_container{max-width:1140px; padding:0 15px; margin:auto; width:100%;}

.carousel_container .carousel_item{margin:10px 0;}
.carousel_container .item_card{box-shadow: 0 0 3px #547c61; border-radius: 10px;display: flex; justify-content:center; align-items:center; font-size:30px; font-weight:500;border:1px solid #eee; flex-direction:column; padding:10px 20px;}
.carousel_container .item_card .sl_img{width:100%; height:100px; overflow:hidden;border-radius:10px;display:flex;align-items:center;justify-content:center;}
.carousel_container .item_card .sl_txt{width:100%;height:auto;}
.carousel_container .item_card .sl_txt h2{font-size:16px; font-weight:500;text-align:center; margin-top:10px; width:100%;overflow:hidden; white-space:nowrap; text-overflow: ellipsis;}
/* 이름이 길게 들어올 경우 overflow:hidden; white-space:nowrap; text-overflow: ellipsis; 를 적어주면 긴 글자들은 ...으로 처리하고 개행을 하지 않는다. js에서도 할수 있지만 css에서도 가능 ellipsis가 ...으로 나타나게해줌 */
.carousel_container .item_card .sl_txt p{font-size:12px; color:#777; margin:5px 0;text-align:center; overflow: hidden;white-space:nowrap;text-overflow:ellipsis;}
.carousel_container .item_card .sl_icons{width:100%;display:flex; justify-content:center;align-items:center;}
.carousel_container .item_card .sl_icons img{width:20%;padding:10px;}
.carousel_container .item_card .sl_icons em{font-style:normal;font-size:11px;}

/* Detail Page Style Code */
.details{width:100%; height: auto; position:relative;}
.details .detail_bg{width:100%;height:200px;overflow:hidden;display:flex; align-items:center;position:relative;}
.details .detail_bg .radi_bar{position:absolute;left:0;bottom:0;width:100%;height:15px;background:#f4f4f4; border-radius:15px 15px 0 0;}
.details .detail_bg img{width:100%;}

.details .detail_contents{width:100%;height:auto;background:#f4f4f4;}
.details .detail_wrap{width:100%;height:auto;display:flex;flex-direction:column;align-items: center;padding-bottom:10px;}
.details .detail_tit{width:90%; padding:8px 0;background:#547c61;color:#fff; text-align:center;font-size:14px; font-weight:400;border-radius:15px;}
.details .line{width:90%;height:1px;background:#547c61; margin:8px;}

.details .detail_info{width:90%;}
.details .detail_info p{width:100%; display:flex;justify-content: space-between;margin-bottom: 5px;;}
.details .detail_info p:last-child{margin-bottom:0;}
.details .detail_info span{display:flex;justify-content: flex-start;}
.details .detail_info .info_ico{width:20%;background:#547c61;border-radius:10px 0 0 10px;color:#fff;display:flex;align-items: center;justify-content: center;padding:10px 0;}
.details .detail_info .info_txt{width:calc(80% - 5px);border:1px solid #547c61;border-radius:0 10px 10px 0;font-size:12px;padding:5px 0;color:#555; padding:5px;}

.details .info_desc{width:90%; height:auto;border:1px solid #547c61; padding:10px; font-size:12px;font-weight:400;color:#555;}

.details #map{width:90%;height:200px;margin-top:10px;border:1px solid #547c61;padding:5px;}